# Environments
.venv/
.env
.env.*

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pytest_cache/
.mypy_cache/
.pytype/

# Tooling
.dist/
.build/
.cache/

# Data & Outputs
/data/out/
*.log

# OS
.DS_Store
Thumbs.db
